@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

/* Забрали маркери в списках */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Забрали відступи в заголовках */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

a {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 481px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.main-section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 30px;
  text-align: center;
}

.section-title {
  font-weight: bold;
  line-height: 1.14;
  font-size: inherit;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .section-title {
    display: flex;
    justify-content: center;
  }
}

.menu-social-networks {
  display: flex;
  justify-content: center;
  padding: 16px 32px 27px 32px;
}

.menu-social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.menu-social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.menu-social-networks__link:hover, .menu-social-networks__link:focus {
  background-color: #2196f3;
}

.menu-social-networks__icon {
  fill: #afb1b8;
}

.menu-social-networks__link:hover .menu-social-networks__icon,
.menu-social-networks__link:focus .menu-social-networks__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

@media screen and (max-width: 1200px) {
  .backdrop {
    padding: 93px 15px;
    overflow-y: scroll;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}

/* Модальне вікно */
.modal {
  width: 100%;
  height: 609px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}

.box-button {
  display: flex;
  justify-content: center;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color);
  padding: 6px;
  display: flex;
}

.button-close:hover {
  cursor: pointer;
}

.button-close__icon {
  fill: #000000;
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  text-align: start;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__box {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  height: 18px;
  width: 18px;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label-link {
  color: #2196f3;
}

.modal-form__btn {
  padding: 10px 55px;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  cursor: pointer;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-mobile-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 0px;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-mobile-btn {
    display: none;
  }
}

.menu-mobile-btn:hover, .menu-mobile-btn:focus {
  border: none;
  fill: #2196f3;
}

.mobile-menu {
  background-color: #ffffff;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 0px;
  border: none;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

.menu-conteiner {
  padding: 48px 40px;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__item:not(:last-child),
.mobile-menu__connect-list:not(:last-child) {
  margin-bottom: 32px;
}

.accent-color {
  color: #2196f3;
}

.mobile-menu__connect {
  margin-bottom: 64px;
}

.mobile-menu__connect-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 380px) {
  .mobile-menu__connect-link {
    font-size: 34px;
  }
}

.mobile-menu__connect-tel {
  font-size: 24px;
  color: #757575;
  letter-spacing: 0.02em;
}

.mobile-menu__social-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__social-line {
  color: rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  margin-left: 10px;
}

.header {
  border-bottom: 1px solid #eeeeee;
}

.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-conteiner {
    padding: 10px 15px;
    position: relative;
  }
}

/* логотип */
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
  }
}

.logo__accent {
  color: #2196f3;
}

/* Навігація */
.main-nav {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
  }
}

.nav,
.menu-connect {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .nav,
  .menu-connect {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-connect {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-connect {
    flex-direction: column;
  }
}

.main-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.main-nav__item {
  position: relative;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.accent {
  color: #2196f3;
}

.accent::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  bottom: -1px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-connect__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-connect__list:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-connect__link {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.menu-connect__icon {
  display: inline-block;
  align-self: center;
  margin-right: 10px;
  fill: #757575;
}

.menu-connect__link:hover .menu-connect__icon,
.menu-connect__link:focus .menu-connect__icon {
  fill: #2196f3;
}

/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .conteiner {
  text-align: center;
  padding: 118px 20px;
}

@media screen and (min-width: 768px) {
  .hero .conteiner {
    padding: 118px 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .conteiner {
    padding: 200px 252px;
  }
}

@media screen and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-mobile.jpg");
  }
}

@media screen and (min-width: 280px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-image/header-img-desktop@2x.jpg");
  }
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal-button {
  background-color: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  padding: 10px 32px;
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ae8;
}

/* Our specifics */
@media screen and (min-width: 768px) {
  .specifics__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__list {
    display: flex;
    justify-content: space-between;
  }
}

.specifics__item {
  width: 100%;
}

.specifics__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .specifics__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
    width: 251px;
  }
  .specifics__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__item {
    flex-basis: calc((100% - 120px) / 4);
    width: 270px;
  }
  .specifics__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.specifics__icon {
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .specifics__icon {
    width: 270px;
  }
}

.specifics__text {
  line-height: 1.8;
}

.work {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__thumb {
  position: absolute;
  display: flex;
  padding: 27px 0;
  bottom: 0px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-title_theme_dark {
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin: 0;
}

/* Team */
.command__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
}

.command__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  flex-basis: calc(100% / 1 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .command__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.command {
  background-color: #f5f4fa;
}

.command__photo {
  margin-bottom: 30px;
  width: 100%;
}

.command__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
  margin-bottom: 10px;
}

.command__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.client__link {
  border: 1px solid #afb1b8;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  height: 92px;
}

.client__link:hover, .client__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: #afb1b8;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts,
  .footer__social-conteiner {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 2);
  }
}

@media (max-width: 1199px) {
  .footer-contacts__list,
  .footer__social-conteiner,
  .footer-conect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__contact,
.footer__adress {
  font-style: normal;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer__contact:hover, .footer__contact:focus {
  color: #ffffff;
}

.logo__footer {
  color: #ffffff;
}

.footer__adress {
  color: #ffffff;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .conteiner-footer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer__text {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-conteiner {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__social-conteiner {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.menu-social-networks_theme_dark {
  display: flex;
  padding: 0;
}

.menu-social-networks_theme_dark .menu-social-networks__icon {
  fill: #ffffff;
}

.menu-social-networks_theme_dark .menu-social-networks__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-social-networks_theme_dark .menu-social-networks__link:hover, .menu-social-networks_theme_dark .menu-social-networks__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-conect {
    margin-left: 93px;
  }
}

.footer-conect__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  outline: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  width: 450px;
  margin-bottom: 20px;
  height: 50px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-conect__input {
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .footer-conect__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conect__input {
    width: 358px;
  }
}

.footer-conect__input:focus {
  border-color: #2196f3;
}

.footer-conect__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-conect__btn {
  position: relative;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-conect__btn:hover, .footer-conect__btn:focus {
  cursor: pointer;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-conect__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 29px;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/icon-send.svg);
  fill: #ffffff;
}

.menu-btn {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.menu-btn__filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  text-align: center;
  padding: 6px 22px;
}

.menu-btn__filter:hover, .menu-btn__filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-btn__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .menu-btn__item:nth-last-child(n + 3) {
    margin-bottom: 15px;
  }
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.menu-card__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 30px) / 1);
}

@media screen and (min-width: 768px) {
  .menu-card__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .menu-card__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-card__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.menu-card__link {
  text-decoration: none;
  color: #757575;
  display: inline-block;
}

.menu-card__link:hover, .menu-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product {
  position: relative;
  overflow: hidden;
}

.product__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.menu-card__link:hover .product__text,
.menu-card__link:focus .product__text {
  transform: translateY(0);
}

.product__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__type {
  font-size: 16px;
  line-height: 1.89;
}

.product__description {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 0px 20px 24px;
}
/*# sourceMappingURL=main.css.map */