.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $first-bp) {
    width: 480px;
  }
  @media screen and (min-width: $second-bp) {
    width: 768px;
  }
  @media screen and (min-width: $third-bp) {
    width: 1200px;
  }
}
